<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3>දහම් පාසල් සිසු නිපුණතා ඇගයීම් - 2019 </h3>
      <p class="lead">කොලොන්නාව බටහිර ශාසනාරක්ෂක බලමණ්ඩලය </p>
    </div>
  </div>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="exampleInputEmail1">තරගය</label>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selected_value_tharaga_cmb}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" *ngFor="let items of tharaga_list"
                  (click)="onTharagaComboBoxItemSelect(items)">{{items}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="exampleInputPassword1">ශ්‍ර‌ේණිය</label>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="gr_cmb_is_diabled">
                {{selected_value_grade_cmb}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" *ngFor="let items of grade_list"
                  (click)="onGradeComboBoxItemSelect(items)">{{items}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>